@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

body {
    font-family: 'RoundedFixedsys';
    overflow: hidden;
    /* ✅ 스크롤 완전 차단 */
    height: 100%;
    touch-action: none;
}


#face {
    font-size: 100px;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -60%);
    }


    100% {
        transform: translate(-50%, -50%);
    }


}

#message {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);


    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    width: 250px;
    height: auto;
    padding: 20px;
    line-height: 1.5;


}

#button {
    text-decoration: none;
    background-color: rgb(46, 196, 255);
    color: white;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;


}

a {
    text-decoration: none;
    color: white;
}

#button:active {
    background-color: rgb(120, 170, 240);

    transform: translate(-50%, -50%) scale(0.93);

}

#image {
    width: 300px;
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes tilt {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(20deg);
    }
}

#image {
    animation: tilt 2s ease-in-out infinite;
}

#image1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}