#image {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#button {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
    display: none;
    transition: transform 0.2s ease;
}

#button:active {
    transform: translate(-50%, -50%) scale(1.5);

}

#progress-container {
    position: absolute;
    bottom: 20px;
    /* 화면 아래 살짝 위 */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    /* 양옆 여백 */
    height: 6px;
    background: rgba(255, 255, 255, 0.2);
    /* 연한 회색 배경 */
    border-radius: 3px;
    overflow: hidden;
}

/* 왼쪽에서 차오르는 빨간 바 */
#progress-bar {
    width: 0%;
    height: 100%;
    background: red;
    border-radius: 3px;
    transition: width 2s ease-out;
    /* 2초 동안 차오름 */
}

#text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    background-color: rgb(71, 71, 71);
}