#game,
#result,
#countdown,
#message1 {
    display: none;
}

@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

body {
    font-family: 'RoundedFixedsys';

    overflow: hidden;
    touch-action: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);

    backdrop-filter: blur(6px);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#message {
    background: white;
    padding: 40px;
    border-radius: 20px;
    font-size: 24px;
    text-align: center;
    z-index: 10;
}

#countdown {
    font-size: 50px;
    text-align: center;
    z-index: 10;
}

#message1 {
    font-size: 20px;
    text-align: center;
    z-index: 10;
}

#background1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 4;
    transition: opacity 1.5s ease-in-out;
}

#background2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 3;
    transition: opacity 1.5s ease-in-out;
}

#background3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    transition: opacity 1.5s ease-in-out;
}

#background4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}





#summer1 {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: contain;
    z-index: 10;
    transition: opacity 0.6s ease;
    opacity: 1;
    animation: pulse 3s ease-in-out infinite;
}

#summer2 {

    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    animation: pulse 3s ease-in-out infinite;
    /* ⬅️ 반복 애니메이션 */
}

/* 해가 커졌다 작아지는 키프레임 */
@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }
}

#fall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    transition: transform 0.15s ease;
}

#temp-display {
    background: rgb(158, 223, 255, 0.7);
    height: 80px;
    width: 150px;
    border-radius: 20px;
    font-size: 35px;
    text-align: center;
    line-height: 80px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
}

#play-btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 200px;
    height: 70px;
    z-index: 10;
    font-family: 'RoundedFixedsys';

}

#timer {
    background: rgb(158, 223, 255);
    height: 40px;
    width: 90px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 90px;
    right: 5px;
    z-index: 10;
}

#result {
    display: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#timeover {
    font-size: 50px;
    width: 500px;
    z-index: 10;
}

#result-btn {
    font-size: 20px;
    z-index: 10;
}