@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

body {
    font-family: 'RoundedFixedsys';
}


#face {
    font-size: 100px;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -60%);
    }


    100% {
        transform: translate(-50%, -50%);
    }


}

#message {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);


    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    width: 250px;
    height: auto;
    padding: 20px;
    line-height: 1.5;


}

#button {
    text-decoration: none;
    background-color: rgb(46, 196, 255);
    color: white;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;


}

a {
    text-decoration: none;
    color: white;
}

#button:active {
    background-color: rgb(120, 170, 240);

    transform: translate(-50%, -50%) scale(0.93);

}

#image2 {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}

#image {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    transition: opacity 1s ease-in-out;
}

#image1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    /* 1️⃣ 먼저 2초간 떠다니기 */
    animation: floatUpDown 2s ease-in-out;

    /* 2️⃣ 그 다음 밑으로 내려가며 사라지기 */
    animation-fill-mode: forwards;
    /* 떠다닌 다음 상태 유지 */
    animation-delay: 0s;
    /* 바로 시작 */
}

/* 떠다니는 애니메이션 */
@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

/* 2초 지나고 내려가며 사라지는 애니메이션 실행 */
#image1.fadeOut {
    animation: slideDownFade 1.5s ease-in forwards;
}

/* 사라지는 동작 */
@keyframes slideDownFade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}