@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

body {
    font-family: 'RoundedFixedsys';
}




#message {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    width: 320px;
    height: auto;
    padding: 20px;
    line-height: 1.5;
    transition: transform 0.2s ease;
    word-break: keep-all;
    box-sizing: border-box;
    z-index: 10;
    border: 2px dashed #a34900;
}

.click-text {
    color: rgb(65, 65, 65, 0.3);
    font-weight: bold;
    font-size: 18px;
}

#message:active {
    transform: translate(-50%, -50%) scale(1.1);

}

#button {
    display: none;

    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-decoration: none;
    background-color: rgb(46, 196, 255);
    color: white;
    width: 150px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;



}

#image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 비율 유지하며 꽉 채우기 */
    animation: breathe 5s ease-in-out infinite;
}

/* 숨쉬는 듯 확대·축소 */
@keyframes breathe {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    /* 살짝 확대 */
}

#button:active {
    background-color: rgb(120, 170, 240);

    transform: translate(-50%, -50%) scale(0.93);

}